<div class="tab-container mat-typography">
    <div fxLayout="row wrap" class="content margin-t">
      <div fxFlex="50%" class="mat-body-strong">
        <mat-chip-list aria-label="Risk Rating">
          Risk Rating
          <mat-chip color="{{riskRatingColor}}" class="{{riskRatingText.toLowerCase()}}" selected>
            {{riskRatingText}}
          </mat-chip>
          <mat-chip *ngIf="kycData && !kycData.isVerifiedMatch">
            not verified
          </mat-chip>
        </mat-chip-list>
      </div>
      <div fxFlex="50%" *mifosxHasPermission="'RUN_KYC_SCREENING'">
        <button mat-raised-button
                *ngIf="isKycScreeningEnabled"
                color="primary"
                class="screen-button"
                [disabled]="loading"
                (click)="runRiskScreening()">
          <fa-icon icon="sync"></fa-icon>&nbsp;&nbsp;
          Run Risk Screening
          <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
        </button>
      </div>
    </div>
    <br/>

    <div *ngIf="individual" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="TER">
        Terrorist Funding (TER)
        <mat-chip>
          {{kycData.isTerrorist ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="Bribery and Corruption">
        Bribery and Corruption
        <mat-chip>
          {{kycData.briberyAndCorrupt ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="Sanctions Lists">
        Sanctions Lists
        <mat-chip>
          {{kycData.isSanctioned ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="PEP">
        Politically Exposed Person (PEP)
        <mat-chip>
          {{kycData.isPep ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="SIP">
        Special Interest Person (SIP)
        <mat-chip>
          {{kycData.isSip ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="RCA">
        Relatives or Close Associates (RCA)
        <mat-chip>
          {{kycData.isRca ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="Financial Crime">
        Financial Crime
        <mat-chip>
          {{kycData.financialCrime ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <div *ngIf="!showFallback" fxFlex="48%" class="margin-v">
        <p>Screening date: <strong>{{screeningDate(kycData.screeningDate)}}</strong></p>
      </div>

    </div>

    <div *ngIf="corporation" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="SIE">
        Special Interest Entity (SIE)
        <mat-chip>
          {{kycData.isSip ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="Regulatory Enforcement">
        Regulatory Enforcement
        <mat-chip>
          {{kycData.isSanctioned ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="PEP">
        Linked to Politically Exposed Person (PEP)
        <mat-chip>
          {{kycData.isPep ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list fxFlex="48%" class="margin-v" aria-label="Financial Crime">
        Financial Crime
        <mat-chip>
          {{kycData.financialCrime ? 'Yes' : 'No'}}
        </mat-chip>
      </mat-chip-list>

      <div *ngIf="!showFallback" fxFlex="48%" class="margin-v">
        <p>Screening date: <strong>{{screeningDate(kycData.screeningDate)}}</strong></p>
      </div>
    </div>

  <div *ngIf="individual && matches" fxLayout="column wrap" class="content margin-t">

    <h3 fxFlexAlign="left"> {{kycData.matches}} match(es) found</h3>
    <p>Please select all positive matches to marked them as matched</p>

    <table mat-table [dataSource]="matches">

      <ng-container matColumnDef="matchedFields">
        <th mat-header-cell *matHeaderCellDef>Matched By</th>
        <td mat-cell *matCellDef="let match">
          <strong>{{match.matchedFields}}</strong> <br>
          <strong>Full Name: </strong>{{match.firstName}} {{match.middleName}} {{match.lastName}}<br>
          <strong>Gender: </strong>{{match.gender}}<br>
          <strong>Location: </strong>{{match.primaryLocation || match.location}}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let match">
          <mat-chip>
            {{match.category}}
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef>Categories</th>
        <td mat-cell *matCellDef="let match">{{match.categories}}</td>
      </ng-container>

      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef>Picture</th>
        <td mat-cell *matCellDef="let match">
          <img mat-card-md-image
               [src]="(match.imageUrl)?match.imageUrl:'assets/images/user_placeholder.png'">
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let match">
          <button *ngIf="!match.isVerifiedMatch" class="identity-action-button" [disabled]="loadingMatch" mat-raised-button color="primary" (click)="markMatched(match.id, match.screeningId)">
            <mat-spinner [diameter]="20" *ngIf="loadingMatch"></mat-spinner>
            <fa-icon *ngIf="!loadingMatch" icon="check-circle"></fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="matchesColumns"></tr>
      <tr mat-row *matRowDef="let match; columns: matchesColumns;"></tr>

    </table>
  </div>

</div>
