.tab-container {
  padding: 1%;
  margin: 1%;

  h3 {
    margin: 1% auto;
  }
  .margin-v {
    margin: 2em 0 0 0;
  }

  .margin-t {
    margin-top: 2em;
  }

  .screen-button {
    width: 14rem;
  }

  .low{}
  .medium {
    background-color: #FFA500FF;
    color: white;
  }

  .mat-cell {
    padding-left: 8px;
    padding-right: 8px;
  }

  .high {}

  mat-spinner {
    float: right;
    margin: 0.5rem 0;
  }
}
