.tab-container {
  padding: 1%;
  margin: 1%;

  h3 {
    margin: 1% auto;
  }
  .margin-v {
    margin: 2em 0 0 0;
  }

  .margin-t {
    margin-top: 2em;
  }
  .low {
    color: green;
  }
  .medium {
    color: #FFA500;
  }
  .high {
    color: red;
  }
}
