<div class="tab-container mat-typography">

    <!-- Documents Table -->
    <h3 *ngIf="showFallback">Client Risk Rating: <strong class="medium">No Data</strong></h3>
    <h3 *ngIf="!showFallback">Client Risk Rating: <strong class="{{kycData.riskRating.toLowerCase()}}">{{kycData.riskRating}}</strong></h3>

    <div *ngIf="!showFallback" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <p fxFlex="48%" class="margin-v">Terrorist Funding (TER) : <strong>{{kycData.isTerrorist ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Bribery and Corruption : <strong>{{kycData.briberyAndCorrupt ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Sanctions Lists : <strong>{{kycData.isSanctioned ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Politically Exposed Person (PEP) : <strong>{{kycData.isPep ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Special Interest Person (SIP) : <strong>{{kycData.isSip ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Relatives and Close Associates (RCA) : <strong>{{kycData.isRca ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Financial Crime : <strong>{{kycData.financialCrime ? 'Yes' : 'No'}}</strong></p>

    </div>

    <div *ngIf="isEntity" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

      <p fxFlex="48%" class="margin-v">Special Interest Entity (SIE) : <strong>{{kycData.isSip ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Regulatory Enforcement : <strong>{{kycData.isSanctioned ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Linked to Politically Exposed Person (PEP) : <strong>{{kycData.isPep ? 'Yes' : 'No'}}</strong></p>
      <p fxFlex="48%" class="margin-v">Financial Crime : <strong>{{kycData.financialCrime ? 'Yes' : 'No'}}</strong></p>

    </div>

    <div *ngIf="!showFallback" class="fallback" fxLayoutAlign="center center">
      <p>Screening date: <strong>{{kycData.screeningDate}}</strong></p>
    </div>

</div>
