::ng-deep .mat-snack-bar-container{
  color: #FFFEFD !important;
  background-color: #19472A !important;
  border-color: #3EAF28 !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: #FFFEFD;
}
